@import "react-slideshow-image/dist/styles.css";
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


.App {
  text-align: center;
}


.body{
  background-color: #b0d6f9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
 
}
.register-div {
  padding-top: 30px;
  width: 70%;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.div-element {
  margin-bottom: 20px;
  text-align: center;
}

.welcome {
  padding-top: 30px;
  width: 70%;
  margin: 0 auto;
  background-color: #61dafb;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container-image1 {
  height: 100%;
  background-repeat: none;
  background-size: cover;
  background-position: center;
  padding-left: 80px;

}
